<%# This file wraps all of your views. %>
<%# Thus, anything you put in here will be displayed on every page. %>


<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%# <%
      print "\n--------------------------------------------------\n"
      print "INSIDE application.html.erb\n"
      print "flash: #{flash}\n"
      print "flash.class: #{flash.class}\n"
      print "flash[:notice]: #{flash[:notice]}\n"
      print "--------------------------------------------------\n\n"
    %> 

    <%= render 'layouts/navigation' %>
    
    <%# By default Rails looks for the messages partial in the articles folder
    since that is where the views for our actions (related to articles) are.
    Thus, we must specify this path. %>
    <%# Note: He includes this partial because he recommends having as little code
    as possible in the application.html.erb file. %>
    <%= render 'layouts/messages' %>
    
    <%# Create a container so that elements aren't flush against the edge of the screen. %>
    <div class="container">
      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>

    <%# Causes there to be a display of params if we are working in the development environment %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
